{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      },
      "nextron/babel"
    ]
  ],
  "plugins": [
    "glsl",
    "styled-components"
  ]
}
